 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Gabarito', sans-serif;
 }

 .navbar {
     padding: 10px;
     display: flex;
     justify-content: space-between;
     border-bottom: solid black 1px;
     align-items: center;

 }

 .navbar__s1__title {
     color:  #A90BB1;
 }

 .navbar__s2 {
     padding: 10px;
     border: solid black 1px;
     border-radius: 30px;
     width: 60%;
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .navbar__s2 input {
     border: none;
     width: 100%;
     font-size: 15px;

 }

 .navbar__s2 input:focus {
     outline: none;
 }

 .navbar__s3{
    display: flex;
    margin: 10px; 
    padding: 10px; 
    gap: 10px;
    align-items: center;
 }

 .categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    flex-wrap: wrap;

 }

 .categories p{
    background-color:#A90BB1;
    color: white;
    padding: 6px;
    border-radius: 30px;
    transition: transform 0.4s;
    flex-wrap: wrap;
 }

 .categories p:hover{
   
    transform: translateY(-5px);
 }

 .sale-image img{
    width: 100%;

 }

 .recommended{
    padding: 30px;
    
 }

 .recommended__container{
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
    padding: 20px;

 }

 .course-card{
    width: 250px;
    padding-bottom: 20px;

 }


 .course-card img{
    width: 100%;
    height: 150px;
 }

 .topics{
    padding: 10px;
 }

 .topics__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    
 }

 .topics__container p{
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
 }

 .topics__container p:hover{
   background-color: #A90BB1;
   color: white;
 }


 .popular{
   padding: 10px;
   margin: 10px;
 }

 .popular__container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
   margin-top: 10px;
   
 }

 .footer{
   padding: 30px;
   background-color: black;
   color: white;
 }

 .footer__one{
display: flex;
gap: 10px;

 }

 .footer__one p{
   margin: 20px;
 }

 .footer__two{
    display: flex;
    justify-content:space-between ;
    margin: 10px;
    align-items: center;
 }

 .footer__two h1{
  color: #A90BB1;
 }



  
    

