 * {
    margin: 0;
    padding: 0;
 }

 body {
    font-family: 'Gabarito', sans-serif;
 }

 .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;


 }

 .navbar__s1__title {
    color: #A90BB1;
 }

 .navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

 }

 .navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 15px;
    background-color: transparent;

 }

 .navbar__s2 input:focus {
    outline: none;
 }

 .navbar__s3 {
    display: flex;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    align-items: center;
 }
 .navbar__s4{
   display: none;
 }

 .mylearning {
    position: relative;
    cursor: pointer;

 }

 .mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;


 }

 .mylearning:hover .mylearning__popup {
    display: block;
 }

 .categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: solid black 1px;
    gap: 10px;
    flex-wrap: wrap;

 }

 .categories p {
    background-color: #A90BB1;
    color: white;
    padding: 6px;
    border-radius: 30px;
    flex-wrap: wrap;
    cursor: pointer;
    border: solid black 1px;

 }

 .categories p:hover {

    transform: translateY(-5px);
    transition: 1s;
    background-color: transparent;
    color: #A90BB1;
    border: solid black 1px;

 }

 .sale-image {
    position: relative;


 }

 .sale-image img {
    width: 100%;


 }

 .sale-image__offer {
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 60%;
    right: 5%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;

 }



 .recommended {
    padding: 30px;

 }

 .recommended-head {
    padding-left: 20px;
 }

 .recommended__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

 }

 .course-card {
    /* width: 250px;
    padding-bottom: 20px; */
    flex-grow: 1;
    flex-basis: 20%;
    margin: 20px;

 }


 .course-card img {
    width: 100%;
    height: 150px;
 }

 .topics {
    padding: 10px;
 }

 .topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

 }

 .topics__container p {
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    cursor: pointer;


 }

 .topics__container p:hover {
    background-color: #A90BB1;
    color: white;
    transition: 1s;


 }


 .popular {
    padding: 30px;
    margin: 10px;
 }

 .popular-head {
    padding-left: 20px;
 }

 .popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px;

 }

 .footer {
    padding: 30px;
    background-color: black;
    color: white;
 }

 .footer__one {
    display: flex;
    gap: 10px;

 }

 .footer__one p {
    margin: 20px;
 }

 .footer__two {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
 }

 .footer__two h1 {
    color: #A90BB1;
 }


 @keyframes zoom {
    0% {
       transform: scale(0);
       opacity: 0;

    }

    100% {
       transform: scale(1);
       opacity: 1;

    }
 }


 @media screen and (max-width:800px) {

    body {
       font-size: 10px;
    }
 }

 @media screen and (max-width:600px) {

    .course-card {
       flex-basis: 23%;
    }
    .categories{
      display: none;
    }

    .navbar__s2, .navbar__s3{
      display: none;
    }
 .navbar__s4{
   display: block;
 }

 }